[www]
user = {{ php_fpm.user }}
group = {{ php_fpm.group }}
listen = {{ php_fpm.listen }}
listen.owner = {{ php_fpm.listen_user }}
listen.group = {{ php_fpm.listen_group }}
listen.mode = {{ php_fpm.listen_mode }}
pm = dynamic
pm.max_children = {{ php_fpm.max_children }}
pm.start_servers = {{ php_fpm.start_servers }}
pm.min_spare_servers = {{ php_fpm.min_spare_servers }}
pm.max_spare_servers = {{ php_fpm.max_spare_servers }}
pm.max_requests = {{ php_fpm.max_requests }}
access.log = {{ php_fpm.access_log }}
access.format = "{{ php_fpm.access_format }}"
slowlog = {{ php_fpm.slowlog }}