{%- if ssl_generate %}
{%- set ssl_cert_path = '/etc/letsencrypt/live/'+host+'/fullchain.pem' %}
{%- set ssl_key_path = '/etc/letsencrypt/live/'+host+'/privkey.pem' %}
{%- set ssl_chain_path = '/etc/letsencrypt/live/'+host+'/chain.pem' %}
{%- endif %}
server {
############################################################################

    listen 80;

############################################################################

    server_name {{ host }};

############################################################################

    client_max_body_size 100m;
    charset utf-8;

############################################################################

    include xtra/certbot.conf;
    include xtra/basic.conf;

############################################################################

    root /var/www/{{ host }}/public_html;

############################################################################

    access_log /var/log/nginx/{{ host }}/access.log combined;
    error_log  /var/log/nginx/{{ host }}/error.log;

############################################################################

{% if headers_enabled %}
    add_header X-XSS-Protection "1; mode=block" always;
    add_header Content-Security-Policy "frame-ancestors 'self' *.facebook.com *.vk.com" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header Content-Type-Options "nosniff" always;
    add_header X-Frame-Options "SAMEORIGIN" always;
    add_header Referrer-Policy "no-referrer-when-downgrade" always;
{%- endif %}

############################################################################

    index index.php index.html;

############################################################################

    location @backend {
        fastcgi_pass unix:{{ php_fpm.listen }};
        fastcgi_param SCRIPT_FILENAME $request_filename;
        include fastcgi_params;
    }

    # Fallback location
    location @fallback {
        rewrite  ^(.*)$ /index.php?$args last;
    }

    location / {

        try_files /maintenance.html $uri $uri/ @fallback;

        # Allow static content
        location ~* \.(jpe?g|ico|gif|png|css|less|js|pdf|txt|tar|woff|csv|zip|svg|ttf) {
            access_log off;
            try_files $uri @fallback;
            include xtra/static.conf;
        }

        # Run PHP files
        location ~* \.([pP][hH][pP].?)$ {
            try_files /maintenance.html @backend;
        }

    }
############################################################################
}
{% if ssl_enabled %}
server {
############################################################################

    listen 443 ssl http2;

############################################################################

    server_name {{ host }};

############################################################################

    client_max_body_size 100m;
    charset utf-8;

############################################################################

    include xtra/certbot.conf;
    include xtra/basic.conf;
    include xtra/ssl.conf;

############################################################################

    root /var/www/{{ host }}/public_html;

############################################################################

    ssl_certificate         {{ ssl_cert_path }};
    ssl_certificate_key     {{ ssl_key_path }};
    ssl_trusted_certificate {{ ssl_chain_path }};

############################################################################

    access_log /var/log/nginx/{{ host }}/access.log combined;
    error_log  /var/log/nginx/{{ host }}/error.log;

############################################################################

{% if headers_enabled %}
    add_header X-XSS-Protection "1; mode=block" always;
    add_header Content-Security-Policy "frame-ancestors 'self' *.facebook.com *.vk.com" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header Content-Type-Options "nosniff" always;
    add_header X-Frame-Options "SAMEORIGIN" always;
    add_header Referrer-Policy "no-referrer-when-downgrade" always;
{%- endif %}

############################################################################

    index index.php index.html;

############################################################################

    location @backend {
        fastcgi_pass unix:{{ php_fpm.listen }};
        fastcgi_param SCRIPT_FILENAME $request_filename;
        include fastcgi_params;
    }

    # Fallback location
    location @fallback {
        rewrite  ^(.*)$ /index.php?$args last;
    }

    location / {

        try_files /maintenance.html $uri $uri/ @fallback;

        # Allow static content
        location ~* \.(jpe?g|ico|gif|png|css|less|js|pdf|txt|tar|woff|csv|zip|svg|ttf) {
            access_log off;
            try_files $uri @fallback;
            include xtra/static.conf;
        }

        # Run PHP files
        location ~* \.([pP][hH][pP].?)$ {
            try_files /maintenance.html @backend;
        }

    }
############################################################################
}
{%- endif %}