/var/log/php{{ php.version }}-fpm.log
/var/log/php-fpm/*.log {
	rotate 12
	weekly
	missingok
	notifempty
	compress
	delaycompress
	postrotate
		if [ -x /usr/lib/php/php{{ php.version }}-fpm-reopenlogs ]; then
			/usr/lib/php/php{{ php.version }}-fpm-reopenlogs;
		fi
	endscript
}